$carrefour-blue-palette: (
  50:#e2f2ff,
  100:#b9ddff,
  200:#8bc8ff,
  300:#58b2ff,
  400:#2ba1ff,
  500:#0091ff,
  600:#0083fa,
  700:#0970e6,
  800:#115ed4,
  900:#173eb4,
  contrast: (
    50: #121212,
    100: #121212,
    200: #121212,
    300: #121212,
    400: #121212,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);
$carrefour-red-palette: (
  50:#ffeaed,
  100:#ffcace,
  200:#f39493,
  300:#e96969,
  400:#f24343,
  500:#f72c24,
  600:#e81e25,
  700:#d60c1f,
  800:#ca0018,
  900:#bb0007,
  contrast: (
    50: #121212,
    100: #121212,
    200: #121212,
    300: #121212,
    400: #121212,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);
